<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="edu.ualberta.med.biosamplescan.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.ualberta.med.biosamplescan.rcp.Perspective"
            fixed="false"
            id="edu.ualberta.med.biosamplescan.rcp.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         id="edu.ualberta.med.biosamplescan.View"
         name="Views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="edu.ualberta.med.biosamplescan.View"
            id="edu.ualberta.med.biosamplescan.view"
            name="View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="edu.ualberta.med.biosamplescan.Option"
            id="edu.ualberta.med.biosamplescan.option"
            name="Option"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.ualberta.med.biosamplescan.rcp.perspective">
         <view
               closeable="true"
               id="edu.ualberta.med.biosamplescan.view"
               minimized="false"
               moveable="true"
               ratio="1f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="edu.ualberta.med.biosamplescan.option"
               minimized="false"
               moveable="true"
               ratio="1f"
               relationship="stack"
               relative="edu.ualberta.med.biosamplescan.view"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <widget
            class="edu.ualberta.med.biosamplescan.Menu"
            id="edu.ualberta.med.biosamplescan.menu">
      </widget>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edu.ualberta.med.biosamplescan.menu.file"
               label="File">
            <command
                  commandId="edu.ualberta.med.biosamplescan.commands.savelelectedbarcodes"
                  label="Save Selected Barcodes"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.ualberta.med.biosamplescan.rcp.perspective.ViewCmd"
            name="View Cmd">
         <defaultHandler
               class="edu.ualberta.med.biosamplescan.ViewCmdHanlder">
            <parameter
                  name="BioSampleScan.parameter1"
                  value="BioSampleScan.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            defaultHandler="edu.ualberta.med.biosamplescan.handler.SaveSelectedBarcodes"
            id="edu.ualberta.med.biosamplescan.commands.savelelectedbarcodes"
            name="Save Selected Barcodes">
      </command>
   </extension>

</plugin>
